@layout('layouts/main')


@section('body')
  @!component('partials/in_page_header', {
    title: "Want to say <b>Hello</b>?"
  })
  <p>You can reach out to me below... &#128516</p>

  
@endsection