* {
  margin: 0;
  padding: 0;
  font-family: "Overpass", sans-serif;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Work Sans", sans-serif;
}
.header {
  background: rgba(255, 138, 0, 0.2);
  text-align: center;
  padding: 10px 10px;
}
.layout {
  height: calc(100vh - 100px);
  /* display: flex; */
}
.sidebar {
  background: #00000f;
  /* background: rgba(156, 39, 176, 0.2); */
  width: 100%;
}
main {
  height: 100%;
  background: #ffffff;
  flex: 1;
  padding: 15px 20px;
  overflow-y: scroll;
  width: 100%;
}
.footer {
  padding: 10px;
}
.btn {
  padding: 10px 20px;
  background-color: lightblue;
  border: 0px;
  border-radius: 10px;
}
.menu-items {
  list-style: none;
  text-align: center;
  padding: 10px;
}
.menu-item {
  padding: 5px 10px;
  color: #ffffff;
  display: inline;
}
.menu-item a {
  text-decoration: none;
  color: #f7f7f7;
}

.menu-item a:visited {
    text-decoration: none;
    color: #f7f7f7;
}

.menu-item.active {
  color: red;
  background-color: #f7f7f7;
  padding: 5px 10px;
}

.menu-item.active a {
  color: red;
}

.paragraph {
  font-weight: 200;
  font-size: 24px;
  text-align: justify;
}

.paragraph a {
  color: red;
  text-decoration: none;
  font-weight: 500;
}

.in_page_header {
  font-size: 32px;
  font-weight: 500;
}

/* .row {
  display: flex;
  flex-direction:row;
  flex-wrap: wrap;
  justify-content: flex-start;
} */

.skill-image {
  padding: 10px;
}

.portfolio-image {
  height: 100px;
  background-size: contain;
}

.sidbar-profile-image {
  background-size: cover;
  height: 50px; max-width: 50px;
  border-radius: 100%
}