@layout('site/layouts/main')


@section('body')
  @!component('site/partials/in_page_header', {
    title: "My Blog"
  })
  <p>I dont have any blog post yet, hoping to start writing soon... &#128516</p>
  
@endsection