@layout('site/layouts/main')

@section('body')
  <div style="display: flex; align-items: center; justify-content: center; height: 100%; flex-direction: column; overflow: scroll">
    <p class="paragraph text-center" style="font-size: 24px">
      A <b>software developer</b> , who loves to bring ideas to life using appropriate technology, fix program bugs, and is also <b>passionate</b> about helping others in learning and implementing technology to develop great product.
    </p>
    <a href="{{ route('about') }}">read more</a>
  </div>
@endsection