@layout('admin/layout/main_layout')

@section('body')
<div id="layoutSidenav_content">
    <main>
        <div class="container-fluid px-4">
            <h1 class="mt-4">Projects</h1>
            <ol class="breadcrumb mb-4">
                <li class="breadcrumb-item active">Projects</li>
            </ol>
        </div>

        hmm all project will be here
    </main>
    
</div>
@endsection