

<div class="sidebar">
    <ul class="menu-items">
        @each(menu in side_menu)
            @if (request.url().split('/').includes(menu.url))

            <li class="menu-item active"><a href="{{ route(menu.url) }}">{{ menu.name }}</a></li>
            @else

            <li class="menu-item"><a href="{{ route(menu.url) }}">{{ menu.name }}</a></li>
            @end
        @endeach
    </ul>
</div>